<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

    
</head>

<body>
    <main>
        <div class="intro">
            <h1>A Web Developer</h1>
            <p>I am a web developer and I love to create websites.</p>
            <button>Learn More</button>
        </div>
        <div class="achievements">
            <div class="work">
                <i class="fas fa-atom"></i>
                <h3 class="work-heading">Projects</h3>
                <p class="work-text">I have worked on many projects and I am very proud of them. I am a very good developer and I am always looking for new projects.</p>
            </div>
            <div class="work">
                <i class="fas fa-skiing"></i>
                <h3 class="work-heading">Skills</h3>
                <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p>

                <ul>
                    <% for (let item of skills)  {%>
                        <li><%=item.skill%></li>
                    <% } %>
                </ul>
            </div>
            <div class="work">
                <i class="fas fa-ethernet"></i>
                <h3 class="work-heading">Network</h3>
                <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p>
            </div>
        </div>
        <div class="about-me">
            <div class="about-me-text">
                <h3>About Me</h3>
                <p>I am a web developer and I love to create websites. I am a very good developer and I am always looking for new projects. I am a very good developer and I am always looking for new
                    projects.</p>
            </div>
            <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me">
        </div>
        Main section code explained: The main section is divided into 3 sections: intro, achievements, and about me.

        Intro - The intro section is a div element with a background image. The section contains a heading, a paragraph, and a button.

        Achievements - The achievements section is another div element that uses font-awesome icons to display icons at the top of each section. The section contains 3 div elements each with a
        heading, a
        paragraph and, an icon.

        About Me - The about me section has 2 inner elements one is text and another is an image.

        Footer
        The footer section contains the contact information and social media links.
    </main>


    <footer class="footer">
        <div class="copy">&copy; 2022 Developer</div>
        <div class="bottom-links">
            <div class="links">
                <span>More Info</span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="links">
                <span>Social Links</span>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    Footer code explained: The footer section contains the contact information and social media links.

    Copy - The copy section is a div element that contains copyright information.

    Bottom Links - The bottom links section is a div element that contains the links to the other sections and social media information.

    Step 2: Style The Elements Using CSS
    We have created the HTML part now let's style th
</body>

</html>