<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABCDEF</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <main>
        <h1 class="title">List</h1>

        <h2 class="sub-title">Pending</h2>

        <ul class="list">
            <% for (let item of tasks) { %>
                <li>
                    <input type="checkbox" name="<%= item._id %>" id="<%= item._id %>" onchange="handleChange(e, item._id)">
                    <%= item.task %>
                </li>
                <% } %>
        </ul>
        <div class="func-bar">
            <button id='add'>Set Completed</button>
            <a class="link" href="/completed">See completed</a>
        </div>

    </main>  

</body>
</html>