<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized!</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body class="h-screen w-full grid place-items-center bg-nordic">
    <div class="border-b border-solid border-gray-400 p-4">
        <h2 class="italic text-center font-semibold text-white">401 - Unauthorized!!</h2>
    </div>
</body>

</html>