<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized!</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body class="h-screen w-full grid place-items-center bg-nordic">
    <div>
        <div class="border-b border-solid border-gray-400 p-4">
            <h2 class="italic text-center font-semibold text-white">401 - Unauthorized!!</h2>
        </div>
        <div class="p-4">
            <a href="/sign-in">
                <p class="italic text-center">Sign-in again!</p>
            </a>
        </div>
    </div>

    <script>
        history.replaceState(null, null, "/unauthorized")
    </script>
</body>

</html>