<div class="hidden loading w-full h-full opacity-50 bg-gray-900 absolute z-50 top-0 left-0 grid place-items-center">
    <div class="flex h-5 w-5 relative animate-bounce">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-5 w-5 bg-purple-500"></span>
    </div>
</div>