<div id="session" class="bg-nordic hidden absolute z-10 top-0 left-0 w-full h-screen grid place-items-center px-8">
    <div class="rounded-md bg-white p-2">
        <h3 class="text-center text-black py-2">Thông báo</h3>
        <hr>
        <p class="text-center text-black px-2 py-4">Hết phiên đăng nhập. Vui lòng đăng nhập lại.</p>
        <p class="text-center">
            <button type="button" class="bg-red px-3 py-2 mb-3 rounded-md text-white" onclick="redirectToSignIn()">Đã hiểu</button>
        </p>
        
    </div>
</div>